services:
  - type: web
    name: pulseai-dashboard-backend
    env: python
    region: frankfurt
    plan: free
    branch: BENDOH
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn app.main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: DATABASE_URL
        sync: false
      - key: SECRET_KEY
        generateValue: true
      - key: ALGORITHM
        value: HS256
      - key: ACCESS_TOKEN_EXPIRE_MINUTES
        value: 30
      - key: GOOGLE_SHEETS_CREDENTIALS
        sync: false
      - key: GOOGLE_SHEETS_SPREADSHEET_ID
        sync: false
    healthCheckPath: /
